<div>
  <h1>Login to your account</h1>
  <form action="/login" method="POST">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password">
    </div>
    <button type="submit">Login</button>
    <div>
      <a href="/register">Create a new account</a>
      <a href="/">Home</a>
    </div>
  </form>
</div>